div {
    display: block;
}
.md {
    width: 91%;
    background: #E4D2AC;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 4px 49px;
    position: absolute;
}
.md01 {
    margin: 0 220px;
    position: absolute;
}
.md02 {
    margin: 0 440px;
    position: absolute;
}
.md03 {
    margin: 0 660px;
    position: absolute;
}
.md04 {
    margin: 0 880px;
    position: absolute;
}
.bookLink a{
    display:block;
    overflow:hidden;
    color:#999;
    font-size:  18px;
    padding-right:33px;
    margin-bottom:25px;
    margin: 0 60px;
}
.em{    
    font-style: normal;
}
.md .oneLine a em {
    color: #999; 
}
.md .oneLine a {
    font-size: 16px;
    color: #000;
    margin-bottom: 18px!important;
    text-decoration-line: none;
}
.footer {
    height: 8%;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.footer span{
    color: #9c9a9a;
    font-size: 16px;
}
@media screen and (max-width: 600px) {
    .md {
      width: 100%;
    }
  }
